.DialogActions {
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin: 20px 10px 10px 0;
}

.Dialog__wrapper {
  width: clamp(400px, 60vw, 500px)
}

.DialogButtonsList {
  display: flex;
  flex-direction: column;
  justify-content: right;
  margin-top: 20px;
}

.DialogButtonsList button {
  margin-bottom: 20px;
}
